@media (min-width: 1200px){
    .chatButton{
        margin-top: 0px;
    }

}

.chatButton{
    margin-top: 0px;
}


.htag{

    color:blue;
    cursor:pointer;
    font-weight:bold;
}

.blockquote-complex cite:after{
    content: "";
}

